@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
}

body {
  background: #F5F5F5;
}