@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.woff') format('woff');
}

body {
  background: #F5F5F5;
  font-family: 'Proxima Nova';
}